.form-input {
	width: 100%;

	padding-top: 8px;
	padding-right: 10px;
	padding-bottom: 8px;
	padding-left: 10px;

	font-size: 14px;
	font-weight: 400;
	line-height: 24px;

	background-color: $placeholder-bg-color;
	border: none;
	border-radius: 3px;

	$properties-for-transition: background-color;

	@include transition-settings($properties-for-transition, 0.1s);

	&::placeholder {
		color: $form-input-bg-color;
		text-overflow: ellipsis;
	}
}

/*
*** Стили состояний элементов ***
*/
.form-input:hover,
.form-input:focus {
	background-color: rgba($sp-shop--blue, 0.1);
}
