.site-main-content {
	position: relative;

	display: flex;
	margin-bottom: 120px;
}

.site-main-content__main-window {
	flex-grow: 1;

	width: 100%;

	padding: 0;
	padding-right: 66px;
	padding-left: 66px;
}

.site-main-content__sidebar {
	width: 100%;
	max-width: $sidebar-max-width;

	background-color: $white;

	$properties-for-transition: right;

	@include transition-settings($properties-for-transition, 0.25s);
}

/*
==================================
--------- МЕДИАВЫРАЖЕНИЯ ---------
==================================
*/
// *** ширина вьюпорта: "Планшет" ***
@media (max-width: $width--desktop) {
	.site-main-content__sidebar {
		position: absolute;
		right: -($sidebar-max-width);
		z-index: 2;

		&--open {
			right: 0;
		}
	}
}
