.site-header {
	border-bottom: 1px solid $border-color;
}

.site-header__wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;

	min-height: 82px;
}

.site-header__controls {
	display: flex;
	flex-wrap: wrap;
}

.site-header__search {
	margin-right: 12px;
}

.site-header__basket {
	width: 42px;
	height: 42px;

	background-color: transparent;
	border: none;
	border-radius: 3px;

	cursor: pointer;

	$properties-for-transition: background-color, opacity;

	@include transition-settings($properties-for-transition);
}

.site-header__basket-icon {
	$properties-for-transition: fill;

	@include transition-settings($properties-for-transition);
}

/*
*** Стили для интерактивности ***
*/
.site-header__basket:hover,
.site-header__basket:focus {
	background-color: $border-color;
}

.site-header__basket:active {
	opacity: 0.7;
}

.site-header__basket:hover > .site-header__basket-icon,
.site-header__basket:focus > .site-header__basket-icon {
	fill: $white;
}
