.payment-step {
	width: 100%;
	max-width: 660px;

	margin: 0 auto;
	margin-top: 60px;
}

/*
==================================
--------- МЕДИАВЫРАЖЕНИЯ ---------
==================================
*/
// *** ширина вьюпорта: "Планшет" ***
@media (max-width: $width--desktop) {
	.payment-step {
		margin-right: 0;
		margin-left: 0;
	}
}
