// === Sass-переменные ===

// *** для различных Ширин вьюпорта ***
$width--mobile: 320px;
$width--tablet: 768px;
$width--desktop: 1023px;


// *** для Шрифтов ***
$default-font: /* --- [ вставить нужный нестандартный шрифт ] --- */ "Arial", sans-serif;
$additional-font: /* --- [ вставить нужный нестандартный шрифт ] --- */ "Arial", sans-serif;


// *** для Цветов ***
$white: #ffffff;
$black: #000000;
