// === ИМПРОТИРОВАННЫЕ ФАЙЛЫ СТИЛЕЙ ===
@import 'constants';

// === ГЛОБАЛЬНЫЕ СТИЛИ ===
*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	display: flex;
	flex-direction: column;

	width: 100vw;
	min-width: $width--tablet;
	min-height: 100vh;

	font-family: $default-font;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	color: $black;

	// *** Для устранения горизонтальных скроллов в IE 11, Edge и Safari ***
	overflow-x: hidden;
}

// --- Настройка для автоматического "прилипания" футера к низу страницы ---
footer {
	margin-top: auto;
}

// === Класс для скрытия SVG-спрайта ===
.invisible-container {
	display: none;
}

// === Класс для доступного скрытия элементов ===
.visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;

	margin: -1px;
	padding: 0;

	border: 0;

	overflow: hidden;
	white-space: nowrap;

	clip: rect(0 0 0 0);
	clip-path: inset(50%);
}

/*
 * === Класс для состояния <body> в то время,
 * ===  когда открыто какое-либо Модальное окно
 */
.modal-window-active {
	overflow: hidden;

	&::before {
		content: '';

		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 3;

		display: block;

		background-color: rgba($black, 0.5);
	}
}
